/* Custom Font */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand: 172 67% 45%;
  --error: 12 67% 55%;
  --dark: 183 100% 5%;
  --text: 183 100% 15%;
  --neutral1: 186 14% 43%;
  --neutral2: 184 14% 56%;
  --neutral3: 185 41% 84%;
  --neutral4: 189 41% 97%;
  --white: 179 41% 99%;

  /* Utils */
  --spacer: clamp(2rem, 4vw, 3.5rem);
  --spacer-lg: clamp(4rem, 7vw, 6.5rem);
  --rounded-sm: 0.2rem;
  --rounded-md: 0.4rem;
}

::selection {
  background-color: hsl(var(--brand));
  color: hsl(var(--white));
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  background: hsl(var(--neutral3));
  padding-block: var(--spacer-lg);
}

.wrapper {
  display: grid;
  place-items: center;
  gap: 3rem;
  max-width: 900px;
  margin-inline: auto;
}

.app-header {
  font-size: 2.5rem;
  color: hsl(var(--neutral1));
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
}

.container {
  background: hsl(var(--white));
  padding: var(--spacer);
  border-radius: 2rem;
  box-shadow: 0 4rem 5rem hsl(var(--neutral2) / 0.5);
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacer);
}

.form {
  display: grid;
  gap: var(--spacer);
  text-align: center;
}

.label-group {
  display: grid;
  gap: 0.2rem;
  text-align: left;
}

.label {
  color: hsl(var(--text));
  font-size: 1rem;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-wrapper {
  position: relative;
}

.tip-custom::placeholder {
  opacity: 0;
}

.tip-custom-label {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.tip-custom:not(:placeholder-shown) + .tip-custom-label {
  opacity: 0;
}

.error {
  font-size: 1rem;
  color: hsl(var(--error));
}

[type="number"] {
  width: 100%;
  font: inherit;
  text-align: center;
  background-color: hsl(var(--neutral3) / 0.4);
  border: none;
  padding: 0.2rem 0.5rem;
  border-radius: var(--rounded-sm);
  box-shadow: 0 0 0 -.2rem hsl(var(--brand));
  transition: box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.number-input.number-error:focus {
  box-shadow: 0 0 0 .2rem hsl(var(--error));
}

[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem hsl(var(--brand));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.tip-section {
  display: grid;
  justify-items: start;
  gap: 0.5rem;
}

.tip-amount-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.tip-amount {
  position: relative;
  display: grid;
}

.tip-input {
  opacity: 0;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.tip-input:hover + .tip-btn {
  background-color: hsl(var(--neutral3));
  color: hsl(var(--text));
}

.tip-input:checked + .tip-btn {
  background-color: hsl(var(--brand));
}

.tip-btn {
  background-color: hsl(var(--text));
  color: hsl(var(--neutral4));
  border-radius: var(--rounded-md);
  padding: 0.2rem;
  text-align: center;
}

/* Display section */
.display {
  background: hsl(var(--text));
  padding: var(--spacer);
  height: 100%;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display-group {
  display: grid;
  gap: var(--spacer);
}

.display-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacer);
  text-align: left;
}

.display-label {
  display: grid;
  justify-items: start;
}

.header {
  color: hsl(var(--neutral4));
  font-size: 1rem;
}

.unit {
  color: hsl(var(--neutral2));
  font-size: 0.8rem;
}

.display-amt {
  font-size: 2.5rem;
  color: hsl(var(--brand));
}

.btn {
  font: inherit;
  background-color: hsl(var(--brand));
  color: hsl(var(--text));
  border: none;
  border-radius: var(--rounded-sm);
  padding: 0.1rem 0.7rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 0.2rem 2rem hsl(var(--dark) / 0.6),
    0 0 0 -0.2rem hsl(var(--text)), 0 0 0 -0.2rem hsl(var(--neutral1));
  transition: box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}

.btn:focus {
  outline: none;
}

.btn:not([disable]):hover {
  box-shadow: 0 0 0 hsl(var(--dark) / 0.6), 0 0 0 -0.2rem hsl(var(--text)),
    0 0 0 -0.2rem hsl(var(--brand));
  background-color: hsl(var(--neutral3) / 0.9);
}

.btn:focus-visible {
  box-shadow: 0 0.2rem 2rem hsl(var(--dark) / 0.6),
    0 0 0 0.2rem hsl(var(--text)), 0 0 0 0.5rem hsl(var(--brand));
}

/* Responsive Design */
@media screen and (min-width: 768px) {
  .tip-amount-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .container {
    grid-auto-flow: column;
    margin: 0;
  }
}
